/*styles of whole navigation bar*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*styles of navbar*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
}

/*styles of navbar ul*/
.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0;
}

/*styles of navbar ul li*/
.navbar ul li {
    font-family: century;
    font-size: 1.5rem;
    font-weight: bold;

}

/*styles of navbar ul li a*/
.navbar ul li a {
    text-decoration: none;
    color: pink;
    padding: 4px 30px;
    transition: all .5s ease;

}

/*styles of navbar ul li a:hover*/
.navbar ul li a:hover {
    background-color: rgb(232, 208, 213);
    color: black;
    box-shadow: 0 0 15px rgb(232, 208, 213);
}

/*styles of home*/
#home {
    display: flex;
    flex-direction: column;
    background: url(moon.jpeg) no-repeat center center/cover;
    height: 900px;
    justify-content: center;
    align-items: center;
    color: white;
}

/*styles of report whole background*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*styles of report body*/
body {
    background-repeat: no-repeat;
    height: 900px;
    background-size: 100%;
    background-color: rgb(243, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
}